@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
body{
    background-color: #29323F;
    font-family: 'PT Serif', serif;
    max-width: 100%;
    overflow-x: hidden;
    color: white;
      
}
span{
    color: red;
}
.header{
    /* background-color:rgba(0, 0, 0, 0.3); */
    color: rgb(255, 255, 255);
    padding: 4px;
    overflow: hidden;
}
.header nav{
    display: flex;
    justify-content: space-between;
    margin:20px 20px;
}
.header nav ul{
    list-style: none;
    display: flex;

}
.header nav ul li{
    padding: 30px;
}
.header nav ul li a{
    text-decoration: none;
    color: rgb(255, 253, 253);
    display: inline-block;
}
.header nav ul li:hover{
    background-color: rgb(109, 108, 108);
}
/* ============================================================================ */
.main{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}
.about{
    display: flex;
    justify-content: space-around;
    margin-top: 305px;
    letter-spacing: 2px;
    line-height: 22px;
   
}

.about h5{
    margin-top: 10px;
}
.about p{
    margin-top: 20px;
    

}
.info{    margin-top: 60px;
}
.about button{

    margin-top: 30px;
    padding: 10px 26px;
    color: white;
    border-radius: 50px;
    background-color: rgb(255, 4, 4);
}
.about button:hover{
    background-color: white;
    color: black;
}
/* ============================================================================ */
.my_project{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    background-color: white ;
    color: black;
    width: 100%;
    overflow: hidden;
    

}
.my_project img{
width: 500px;
}
.my_project1{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 30px;
    background-color: #29323F;
    color: rgb(255, 255, 255);
    

}
.text{
    display: flex;
flex-direction: column;
align-content: flex-start;

align-items: center;}
.container{
    display: grid;
    grid-template-rows: repeat(1,350px);
    grid-template-columns: repeat(4,410px);
    margin: 150px;
    margin-left: 550px;
    color:rgb(0, 0, 0);
    grid-gap: 30px;
}
.container1{
    display: grid;
    grid-template-rows: repeat(1,350px);
    grid-template-columns: repeat(4,410px);
    margin: 150px;
    margin-left: 10px;
    color:rgb(0, 0, 0);
    grid-gap: 30px;
}
.grid{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px black;
    padding-bottom: 30px;
    border: 2px solid black;
    border-radius: 50px;
}
.grid p{
    padding: 25px 0px 0px 25px;
}
.grid button{
    margin-top: 50px;
    background-color:rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
.grid button:hover{
    transform: scale(1.3);}

    .grid:hover{
        transform: scale(1.3);
        background-color: #8ea1bda6;
    
    }


 .education{
        display: flex;
        justify-content: space-around;
        background-color: white;
        color: black;
        padding: 80px;
    }
.clzpic img{
    width: 90%;
    height: auto;
}.about1{
    letter-spacing: 2px;
    line-height: 22px;
    margin-top: 205px;
}